<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ES6 Module Transpiler Suite</title>
  <link rel="stylesheet" href="vendor/qunit/qunit.css">
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>

  <script type="text/javascript" src="vendor/qunit/qunit.js"></script>

  <% _.each(files, function(filepath) { %>
  <script type="text/javascript" src="../<%= filepath %>"></script>
  <% }); %>

  <script type="text/javascript">
  <% _.each(modules, function(mod) { %>
  QUnit.module("<%= mod.name %>");

    <% _.each(mod.tests, function(test) { %>
  test("<%= test.name %>", function() {
    var compiler = new ModuleTranspiler.Compiler(<%= JSON.stringify(test.source) %>, null, <%= JSON.stringify(test.options) %>);
    equal(compiler.to<%= test.typeName %>(), <%= JSON.stringify(test.expected) %>);
  });
    <% }); %>
  <% }); %>
  </script>
</body>
</html>
