<%
  function compiler(test, moduleName) {
    return "var compiler = new Compiler(" +
      JSON.stringify(test.source) +
      ", " + (moduleName ? "'" + moduleName + "'" : "null") + ", " +
      JSON.stringify(test.options) +
    ");";
  }
%>

var Compiler = require("../../dist/es6-module-transpiler").Compiler;

suite("<%= mod.name %>");

<% _.each(mod.tests, function(test) { %>
test("<%= test.name %>", function() {
  <% if (test.invalid) { %>
try {
  <%= compiler(test) %>
  compiler.toAMD();
  ok(false, "should have raised an error");
} catch (e) {
  ok(e, e ? e.message : "expects an error");
}
  <% } else { %>
    <% if (test.typeName == 'YUI') { %>
    <%= compiler(test, mod.name.replace(/\ /g, '_')) %>
equal(compiler.to<%= test.typeName %>(), <%= JSON.stringify(test.expected) %>);
    <% } else { %>
    <%= compiler(test) %>
equal(compiler.to<%= test.typeName %>(), <%= JSON.stringify(test.expected) %>);
    <% } %>
  <% } %>
});
<% }); %>
